<div class="center-container">
    <div class="row border">

        <div class="col-3 vh-100 ">
            <div class="d-flex flex-column align-items-stretch flex-shrink-0 bg-body-tertiary p-4"
                style="height: 100%;">

                <div class="d-flex justify-content-between align-items-center p-3 border-bottom">
                    <span class="fs-5 fw-semibold">Chat App</span>
                    <div class="d-flex align-items-center  position-relative">
                        <img src="./assets/icons/group.png" alt="Group icon" class="img me-2"
                            (click)="handleNavigate('new')" />
                        <img src="./assets/icons/more_icon.png" alt="More options icon" class="img"
                            (click)="showDropdown()" />
                        @if (isDropdownVisible) {
                        <div class="dropdown-menu ">
                            <li class="dropdown-item" (click)="handleProfileShow()">Profile</li>
                            <li class="dropdown-item" (click)="handleLogout($event)">Logout</li>
                        </div>
                        }
                    </div>
                </div>


                <!-- searchbar -->
                <form class="m-2 p-2" (submit)="handleSearch($event)">
                    <input type="text" [(ngModel)]="searchTerm" name="search" (input)="handleSearch($event)"
                        class="form-control" placeholder="Search...">
                </form>


                <div class="list-group list-group-flush border-bottom scrollable-area">
                    <!-- search list -->
                    @if (searchUsers.length>0) {
                    <span>Contacts:</span>
                    @for (item of searchUsers; track $index) {
                    <div (click)="handleSelectUser(item?._id)"
                        class="list-group-item list-group-item-action  py-3 lh-sm" aria-current="true">
                        <div class="d-flex w-100 align-items-center ">
                            <img src="{{item.avatar}}" alt="{{item.username}}'s avatar" class="rounded-circle"
                                style="width: 40px; height: 40px; margin-right: 10px;" />
                            <div class="flex-grow-1 ">
                                <strong class="mb-1">{{item.username}}</strong>
                                <small class="ms-4"></small>
                            </div>
                        </div>
                    </div>
                    }
                    }@else {
                    @if(searchPerformed){
                    <div class="text-center">
                        <p>No contacts found</p>
                    </div>
                    }
                    }

                    <!-- contact list -->
                    <span>Chats:</span>
                    @for (chat of chats; track $index) {
                    <div class="list-group-item list-group-item-action  py-3 lh-sm " aria-current="true"
                        [class]="{'selected-chat': chat?._id === selectedChat?._id}" (click)="handleSelectChat(chat)">
                        <div class="d-flex w-100 align-items-center justify-between ">
                            <img [src]="chat.isGroupChat? chat.groupImage : getOtherUserAvatar(currentUser, chat.users)  "
                                alt="avatar" class="rounded-circle"
                                style="width: 40px; height: 40px; margin-right: 10px;" />
                            <strong class="mb-1">{{chat.isGroupChat?
                                chat?.chatName:getSender(currentUser,chat?.users)}}</strong>
                        </div>
                        <div class="col-10 mb-1 small ms-5">
                            {{ chat.isGroupChat
                            ? (chat.latestMessage.sender.username && chat.latestMessage.content
                            ? chat.latestMessage.sender.username + ': ' + chat.latestMessage.content
                            : '')
                            : (chat.latestMessage.content || '')
                            }}
                        </div>
                    </div>
                    }

                </div>
            </div>
        </div>


        <div class="col-9 border pb-5" style="background-color: #f4f4f4;">
            <div id="head" class="py-2 lh-sm border-bottom ">
                @if (selectedChat) {
                <!-- Back button -->
                <img src="./assets/icons/back.png" alt="" class="img me-2" (click)="handleNavigateBack()">
                <!-- Avatar -->
                <img [src]="selectedChat.isGroupChat? selectedChat.groupImage : getOtherUserAvatar(currentUser, selectedChat.users)  "
                    alt="avatar" class="rounded-circle" style="width: 40px; height: 40px; margin-right: 10px;" />
                <!-- Chat name (Group or user) -->
                <strong class="mb-1">{{selectedChat?.isGroupChat? selectedChat?.chatName
                    :getSender(currentUser,selectedChat?.users)}}</strong>
                <!-- Online status -->
                @if(!selectedChat.isGroupChat){
                @if(isUserOnline(getSenderfullDetail(currentUser,selectedChat.users).id)){
                <span class="status online">Online</span>
                }
                @else{
                <span class="status offline">Offline</span>
                }
                }

                <img src="./assets/icons/info.png" alt="" class="img" style="float: right;background-color: black;"
                    (click)="(selectedChat?.isGroupChat ? handleOpenModal() : handleShowUserModal())">
                }

            </div>

            <div #scrollableDiv id="conversation" class="px-3">
                @if (selectedChat) {
                @for (msg of messages; track $index) {
                <div class="row pt-2 "
                    [ngClass]="{'justify-content-start': msg?.sender?._id !== currentUser._id, 'justify-content-end': msg?.sender?._id === currentUser._id}">
                    <div class="col-12">
                        <div class="d-flex" [ngClass]="{'flex-row-reverse': msg?.sender?._id === currentUser._id}">
                            <div class="alert"
                                [ngClass]="{'alert-primary': msg?.sender?._id !== currentUser._id, 'alert-secondary': msg?.sender?._id === currentUser._id}">
                                @if (msg?.chat?.isGroupChat && msg?.sender?._id !== currentUser._id) {
                                <span class="mb-2">{{msg?.sender?.username}} :</span>
                                <br>
                                }
                                {{ msg?.content }}
                            </div>
                        </div>
                    </div>
                </div>
                }
                }@else {
                <div class="d-flex chat-area  justify-content-center align-items-center">
                    <p>Select a chat to start messaging</p>
                </div>
                }
            </div>


            @if (selectedChat && getSenderfullDetail(currentUser,selectedChat.users).status ==='ACTIVE') {
            <form [formGroup]="form" id="reply" class="p-3 w-100" (submit)="handleSubmit()">
                <div class="input-group">
                    <input type="text" formControlName="message" class="form-control p-2"
                        placeholder="Type a message...">
                </div>
            </form>
            }
        </div>



        <!-- Modal groupchat info -->
        @if (openModal) {
        <div [class]="(openModal? '' : 'fade' ) + 'modal'" id="exampleModal" tabindex="0"
            aria-labelledby="exampleModalLabel" style="display: block;background: rgba(0, 0, 0, 0.5);">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5" id="exampleModalLabel">{{selectedChat?.chatName}}</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"
                            (click)="handleCloseModal()"></button>
                    </div>
                    <div class="modal-body">
                        <h6>Group Admins :</h6>
                        <div class="user-badges">
                            @for (user of selectedChat?.groupAdmin; track $index) {
                            <div class="badge bg-secondary m-2 p-3 position-relative">
                                <span class="me-2">{{ user.username }}</span>
                                @if(isGroupAdmin(selectedChat,currentUser)){
                                <!-- <button type="button" class="btn-close position-absolute top-0 end-0 me-2 mt-1"
                                    aria-label="Remove user" (click)="handleRemove(user)"></button> -->
                                <button type="button" class="btn-primary top-0 end-0 me-2 mt-1"
                                    (click)="handleRemoveGroupAdmins(user)">Dismiss as Admin</button>
                                }
                            </div>
                            }
                        </div>
                        <h6>Chat Participants :</h6>
                        <div class="user-badges">
                            @for (user of filteredUsers; track $index) {
                            <div class="badge bg-secondary m-2 p-3 position-relative">
                                <span class="me-2">{{ user.username }}</span>
                                @if (isGroupAdmin(selectedChat,currentUser)) {
                                <button type="button" class="btn-close position-absolute top-0 end-0 me-2 mt-1"
                                    aria-label="Remove user" (click)="handleRemove(user)"></button>

                                <button type="button" class="btn-primary top-0 end-0 me-2 mt-1"
                                    (click)="handleAddGroupAdmins(user)">AddGroupAdmins</button>
                                }
                            </div>
                            }
                        </div>
                        <form>
                            <div class="mt-2 mb-3 d-flex align-items-center">
                                <input type="text" [(ngModel)]='groupChatName' name="groupChatName"
                                    placeholder="Chat Name" class="form-control">
                                <button type="button" class="btn btn-primary m-2"
                                    (click)="handleRename()">Rename</button>
                            </div>
                            @if (isGroupAdmin(selectedChat,currentUser)) {
                            <div class="mb-3">
                                <input type="text" [(ngModel)]="search" name="search" (input)="handleSearchUser()"
                                    placeholder="Add User to Group" class="form-control">
                            </div>
                            }

                            <!-- Display search results -->
                            @if (searchResults.length > 0) {
                            <div>
                                <ul class="list-group mb-3">
                                    @for (user of searchResults; track $index) {
                                    <li class="list-group-item bg-secondary">
                                        {{user?.username }}
                                        <button type="button" class="btn btn-sm btn-primary float-end"
                                            (click)="handleAddUser(user)">Add</button>
                                    </li>}
                                </ul>
                            </div>
                            }

                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-danger" (click)="handleRemove(currentUser)">Leave
                            Group</button>
                    </div>
                </div>
            </div>
        </div>
        }

        <!-- Modal showUser info -->
        @if (openUserModal) {
        <div [class]="(openUserModal? '' : 'fade' ) + 'modal'" id="exampleModal" tabindex="0"
            aria-labelledby="exampleModalLabel" style="display: block;background: rgba(0, 0, 0, 0.5);">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5" id="exampleModalLabel">About</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"
                            (click)="handleCloseUserModal()"></button>
                    </div>
                    <div class="modal-body">
                        <div class="text-center mb-4">
                            <img [src]="getSenderfullDetail(currentUser,selectedChat?.users).avatar"
                                alt="Profile Avatar" class="rounded-circle img-thumbnail"
                                style="width: 100px; height: 100px;" />
                        </div>
                        <h5 class="text-center">{{getSenderfullDetail(currentUser,selectedChat?.users).name}}</h5>
                        <p class="text-muted text-center">{{getSenderfullDetail(currentUser,selectedChat?.users).email}}
                        </p>
                        <p class="text-muted text-center">Hello, I am using Chat App</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal"
                            (click)="handleCloseUserModal()">Close</button>
                    </div>
                </div>
            </div>
        </div>
        }

        <!-- profile modal -->
        @if (isProfileModalVisible) {
        <div class="modal" tabindex="-1" role="dialog" [class]="(isProfileModalVisible ? '' : 'fade') "
            [style.display]="isProfileModalVisible ? 'block' : 'none'" style="background: rgba(0, 0, 0, 0.5);">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Profile</h5>
                        <button type="button" class="btn-close" (click)="closeProfileModal()"></button>
                    </div>
                    <div class="modal-body">
                        <div class="text-center mb-4">
                            <!-- Avatar Image / Upload Option -->
                            @if (editing) {
                            <label for="file">
                                <img [src]="currentUser.avatar" alt="Upload Avatar" class="avatar-image" />
                                <span class="upload-text">Upload an Image</span>
                            </label>
                            <input type="file" id="file" accept="image/*" (change)="handleAvatar($event)" hidden />
                            }@else {
                            <img [src]="currentUser.avatar" alt="Profile Avatar" class="avatar-image"
                                style="width: 100px; height: 100px;" />
                            }
                        </div>
                        <!-- Profile Information -->
                        <h5 class="text-center">{{ currentUser.username }}</h5>
                        <p class="text-muted text-center">{{ currentUser.email }}</p>
                        <p class="text-muted text-center">{{ currentUser.about}}</p>
                        <!-- Editable Form -->
                        @if (editing) {
                        <div>
                            <form (ngSubmit)="handleUpdateProfile()">
                                <div class="mb-3">
                                    <input type="text" class="form-control" [(ngModel)]="currentUser.username"
                                        name="name" placeholder="Enter your name" />
                                </div>
                                <div class="mb-3">
                                    <input type="text" class="form-control" [(ngModel)]="currentUser.email" name="email"
                                        placeholder="Enter your email" />
                                </div>
                                <div class="mb-3">
                                    <input type="text" class="form-control" [(ngModel)]="currentUser.about"
                                        name="status" placeholder="Enter your status" />
                                </div>
                                <button type="submit" class="btn btn-primary w-100">Save Changes</button>
                            </form>
                        </div>
                        }
                        <!-- delete my account link -->
                        <a (click)="handleDeleteAccount()">Delete My Account</a>
                    </div>
                    <div class="modal-footer d-flex justify-content-between">
                        <button type="button" class="btn btn-primary" (click)="handleChangePasswordToggle()">Change
                            password</button>
                        <div class="d-flex gap-2">
                            <button *ngIf="!editing" type="button" class="btn btn-secondary"
                                (click)="startEditing()">Edit
                                Profile</button>
                            <button *ngIf="editing" type="button" class="btn btn-secondary"
                                (click)="cancelEditing()">cancel Editing</button>
                            <!-- <button type="button" class="btn btn-secondary" (click)="closeProfileModal()">Close</button> -->
                        </div>
                    </div>
                    <div>
                    </div>
                </div>
            </div>
        </div>
        }

        <!-- change password -->
        @if (changePassword) {
        <div [class]="(changePassword? '' : 'fade' ) + 'modal'" id="exampleModal" tabindex="0"
            aria-labelledby="exampleModalLabel" style="display: block;background: rgba(0, 0, 0, 0.5);">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5" id="exampleModalLabel">Change Password</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"
                            (click)="handleChangePasswordToggle()"></button>
                    </div>
                    <div class="modal-body">
                        @if (changePasswordArray().length>0) {
                        <ul class="error-message">
                            @for (item of changePasswordArray(); track $index) {
                            <li (click)="focusInput(item)" class="error" tabindex="0">
                                {{changePasswordError[item]}}
                            </li>
                            }
                        </ul>
                        }
                        <div class="change-password-section mt-4" *ngIf="changePassword">
                            @if (changePassword) {
                            <form (submit)="handlePasswordChange($event)" class="mt-3">
                                <div class="mb-3">
                                    <label for="password">Current password</label>
                                    <input type="text" class="form-control" [(ngModel)]="password" name="password"
                                        id="password" (input)="handleChangePasswordClear('password')"
                                        placeholder="Enter your current password" />
                                </div>
                                <div class="mb-3">
                                    <label for="newPassword">New password</label>
                                    <input type="text" class="form-control" [(ngModel)]="newPassword" name="newPassword"
                                        id="newPassword" (input)="handleChangePasswordClear('newPassword')"
                                        placeholder="Enter your new password" />

                                </div>
                                <div class="mb-3">
                                    <label for="confirmPassword">Confirm new password</label>
                                    <input type="text" class="form-control" [(ngModel)]="confirmPassword"
                                        id="confirmPassword" (input)="handleChangePasswordClear('confirmPassword')"
                                        name="confirmPassword" placeholder="Confirm your new password" />
                                    <!-- Validation Note -->
                                    <small class="form-text text-muted">
                                        Note : Password must be at least 8 characters long, contain at least one
                                        uppercase
                                        letter, and
                                        include one
                                        special character.
                                    </small>
                                </div>
                                <button type="submit" class="btn btn-danger w-100 ">Update Password</button>
                            </form>
                            }
                        </div>
                    </div>

                </div>
            </div>
        </div>
        }

        <!-- change password  success modal -->
        @if (changePasswordSuccessModal) {
        <div class="modal " [class]="changePasswordSuccessModal ? '' : 'fade' " tabindex="-1"
            aria-labelledby="successModalLabel" aria-hidden="true"
            style="display: flex;background: rgba(0, 0, 0, 0.5);align-items: center; justify-content: center;">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="successModalLabel">Password Changed Successful</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"
                            (click)="handleClosePasswordChangeModal()"></button>
                    </div>
                    <div class="modal-body">
                        <p>Your password has been changed successfully.</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary" data-bs-dismiss="modal"
                            (click)="handleClosePasswordChangeModal()">ok</button>
                    </div>
                </div>
            </div>
        </div>
        }

        <!-- logout  request modal -->
        @if (logoutModal) {
        <div class="modal " [class]="logoutModal ? '' : 'fade' " tabindex="-1" aria-labelledby="successModalLabel"
            aria-hidden="true"
            style="display: flex;background: rgba(0, 0, 0, 0.5);align-items: center; justify-content: center;">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="successModalLabel">Account Delete</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"
                            (click)="handleCloseLogout()"></button>
                    </div>
                    <div class="modal-body">
                        <p>Are you sure you want to delete your account.</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-danger" data-bs-dismiss="modal"
                            (click)="handleConfirmDeleteAccount()">ok</button>
                        <button type="button" class="btn btn-primary" data-bs-dismiss="modal"
                            (click)="handleCloseLogout()">close</button>
                    </div>
                </div>
            </div>
        </div>
        }

    </div>
</div>