<div class="modal fade" tabindex="-1" role="dialog" [ngClass]="{'show': isNewGroupModalOpen}"
  [style.display]="isNewGroupModalOpen ? 'block' : 'none'">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Create New Group Chat</h5>
        <button type="button" class="btn-close" (click)="closeNewGroupModal()"></button>
      </div>

      <div class="modal-body">
        <form (ngSubmit)="handleCreateGroup($event)">
          <input type="text" placeholder="Group Name" [(ngModel)]="groupName" name="groupName"
            class="form-control mb-3" />
          <input type="text" placeholder="Add Users" [(ngModel)]="search" name="search" (input)="handleSearch()"
            class="form-control mb-3" />

          <!-- Display search results -->
          @if (searchResults.length > 0) {
          <div>
            <ul class="list-group mb-3">
              @for (user of searchResults; track $index) {
              <li class="list-group-item bg-secondary">
                {{user?.username }}
                <button type="button" class="btn btn-sm btn-primary float-end" (click)="addUser(user)">Add</button>
              </li>}
            </ul>
          </div>
          }

          <!-- Display selected users -->
          @if (selectedUsers.length > 0) {
          <div>
            <h6>Selected Users:</h6>
            <ul class="list-group mb-3">
              @for (user of selectedUsers; track $index) {
              <li *ngFor="let user of selectedUsers" class="list-group-item">
                {{ user.username }}
                <button type="button" class="btn btn-sm btn-danger float-end" (click)="removeUser(user)">Remove</button>
              </li>}
            </ul>
          </div>
        }
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-success" (click)="handleCreateGroup($event)">Create Group</button>
        <button type="button" class="btn btn-secondary" (click)="closeNewGroupModal()">Cancel</button>
      </div>
    </div>
  </div>
</div>